@model IEnumerable<MvcLabManager.Models.Computer>


@{
    ViewData["Title"] = "Computers";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum computador cadastrado</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ram</th>
                <th>Processador</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                @foreach(var computer in Model)
                {
                    <tr>
                        <td>@computer.Id</td>
                        <td>@computer.Ram</td>
                        <td>@computer.Processor</td>
                        <td>



                   <a asp-controller="Computer"
                        asp-action="Show"
                        asp-route-id="@Computer.Id">Ver</a>

                          //  <a class = "btn btn-info" 
                           // href ="/Computer/Show/@computer.Id">Ver</a>

                            <a class = "btn btn-danger" href = "/Computer/Delete/@computer.Id">Delete</a>
                        </td> 
                        </tr>
                }
                </tbody>
                </table>
                
}